<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Registrar Proveedor</h1><br>
        {% if aviso %}
                <p style="color:red;">{{ aviso }}</p>
        {% endif %}
        <form action="guardar_proveedor" method="POST">
            <label for="tipo_doc" >Tipo de documento</label><br>
            <select name="tipo_doc" id="tipo_doc">
                <option value="Cedula">Cédula</option>
                <option value="NIT">NIT</option>
                <option value="Cedula Extranjeria">Cédula de Extranjería</option>
                <option value="NIT Extranjeria">NIT de Extranjería</option>
            </select><br>
            <label for="numero_doc" >Ingrese el numero del documento</label><br>
            <input type="text" name="numero_doc" id="numero_doc" required ><br>
            <label for="nombre_proveedor" >Ingrese el nombre del proveedor</label><br>
            <input type="text" name="nombre_proveedor" id="nombre_proveedor" required ><br>
            <label for="direccion" >Ingrese la direccion</label><br>
            <input type="text" name="direccion" id="direccion"  required ><br>
            <label for="nombre_contacto" >Ingrese el nombre del contacto</label><br>
            <input type="text" name="nombre_contacto" id="nombre_contacto"  required ><br>
            <label for="celular_contacto" >Ingrese el numero de Celular del contacto</label><br>
            <input type="number" name="celular_contacto"  min="1000000000" max="9999999999"><br>
            <label for="actividad_economica" >Ingrese la actividad economica</label><br>
            <input type="number" name="actividad_economica" id="actividad_economica" min="1000" max="9999" ><br>
            <button type="submit" class="botones">Guardar</button>
        </form>
        <a href="{{ url_for('proveedores') }}"><button class="botones">atras</button></a>
        
    </div>
</body>
</html>